#Output

Python provides various functions or methods for performing I/O operations. To display something on the screen, Python uses the method print. It just
prints whatever is given inside the quotes.

In [1]:
print("Hello World!")

Hello World!

In [5]:
a = 7
print("The value of a is ",a)

The value of a is  7

In [7]:
x=5
y=3
print("The value of",x,"and",y,"is",x+y)

The value of 5 and 3 is 8

Python f-strings offer a prettier way to achieve the same message output. The string to be printed should be prefixed with a ‘f’ indicating an f-string. The variables to be printed are to be enclosed in a pair of braces.

In [8]:
x=10
y=30
print(f"The value of {x} and {y} is {x+y}")

The value of 10 and 30 is 40

#Input

To receive input from the user, Python provides the input() method which
accepts the input as a string

In [9]:
myName = input("What is your name?")

What is your name?Hi

In [10]:
print("I am ",myName)

I am  Hi

In [11]:
myName = input()

hello

In [12]:
print("I am ",myName)

I am  hello

Python uses
type conversion functions to convert values from one data type to another.

#Type Conversion
int(a number or a string)
float(a number or a string)
str(any value)

In [23]:
num = int(input())

3

In [24]:
print(num+10)

13

In [25]:
type(num)

int

In [26]:
num = float(input())

3

In [27]:
print(num+10)

13.0

In [28]:
type(num)

float

#Escape sequences

With the print method, whatever you enclose within a pair of double quotes,
gets printed as such. But there are a few exceptions, like quotation marks, commas,
etc.
Python provides special character constants referred
to as escape sequences. An escape sequence refers to a combination of characters
beginning with a backslash (\) followed by letters.

In [30]:
print("Hello\tworld") #Horizontal tab

Hello	world

In [31]:
print("Hello\bworld") #backspace

Helloworld

In [32]:
print("Hello \nworld") #newline

Hello
world

In [35]:
print("The teacher said, \"It\'s very easy to program with Python\"")

The teacher said, "It's very easy to program with Python"

#Program Comments and Docstrings

As programs get bigger and more complicated, they get more difficult to read
and understand. For this reason, it is beneficial to add notes to your programs
to explain the purpose of the statements. These notes are called comments

These comments begin with the # symbol and
extend to the end of a line. Everything from the # to the end of the line is
ignored by the interpreter while execution – it does not affect the program.

In [36]:
sum = 5 + 7 # the variable sum contains the sum of 5 and 7

Just as comments are attached to individual statements, you can also include
details about the program’s purpose at the beginning of the program file. This
type of comment called a docstring, is a multi-line string.

In [37]:
"""
Program name: areaRect.py
Version: 1.1
This program finds the area of a rectangle.
The inputs are two integers representing the length
and breadth of a rectangle, and the output is an
integer named area that represents the area of
the rectangle
"""

'\nProgram name: areaRect.py\nVersion: 1.1\nThis program finds the area of a rectangle.\nThe inputs are two integers representing the length\nand breadth of a rectangle, and the output is an\ninteger named area that represents the area of\nthe rectangle\n'

#The math module

Python groups together functions providing similar functionalities
into a module for easy access to them. math, sys, os are some commonly
encountered modules.

In [39]:
import math
math.pi

3.141592653589793

In [40]:
math.e

2.718281828459045

In [41]:
math.sqrt(9)

3.0

#Errors in Python program

Errors in a Python program are divided into two categories:
1. Syntax errors
2. Semantic errors

##Syntax errors
Programming beginners mostly make typographical errors in their programs.
Such errors are called syntax errors. Syntax is the set of rules for constructing
well-formed expressions or statements in a language. A computer generates a
syntax error when an expression or sentence is not well formed. When Python
encounters a syntax error in a program, it halts execution with an error message
indicating the reason for the error.

Name error: This error occurs when a referenced variable is not found

In [43]:
print(aa)

NameError: name 'aa' is not defined

Syntax error: A very common mistake while writing programs is to omit the required parentheses,

In [44]:
print aa

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-44-669375dbe5d1>, line 1)

Indentation error: Each line of code must begin in
the leftmost column, with no leading spaces. The only exception to this rule
occurs in control statements and definitions, where nested statements must be
indented one or more spaces.

In [47]:
print(x)
 print(y)

IndentationError: unexpected indent (<ipython-input-47-08170f5dca8a>, line 2)

Type error: Python is a strongly typed programming language. This means that the interpreter
checks the data types of all operands before performing any operation.
If the type of an operand is not appropriate, the interpreter halts execution with
an error message.

In [48]:
5+'3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##Semantic errors
Semantics is the set of rules that allows the computer to interpret the meaning
of expressions or statements. A semantic error is detected when the action that
an expression describes cannot be carried out, even though that expression is
syntactically correct. Division by zero is the most common semantic error.

In [49]:
7/0

ZeroDivisionError: division by zero

#Programs

###To input two values a and b and then find a^b.

In [50]:
import math
a=int(input("Enter the base"))
b=int(input("Enter the exponent"))
c=math.pow(a,b)
print(a,"to the power",b,"is",c)

Enter the base2
Enter the exponent3
2 to the power 3 is 8.0

###Write a Python program to calculate simple interest by inputting the value of the Principal amount, period, and interest rate from the user

In [52]:
# Function to calculate simple interest
def calculate_simple_interest(principal, rate, time):
    # Formula for simple interest
    simple_interest = (principal * rate * time) / 100
    return simple_interest

# Taking user input
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the interest rate (in percentage): "))
time = float(input("Enter the time period (in years): "))

# Calculate simple interest
interest = calculate_simple_interest(principal, rate, time)

# Display the result
print(f"The simple interest is: {interest}")

Enter the principal amount: 10
Enter the interest rate (in percentage): 7
Enter the time period (in years): 6
The simple interest is: 4.2

###Write a Python program to convert the time input in minutes to hours and minutes. For example, 85 minutes is 1 hour 25 minutes

In [53]:
# Function to convert minutes to hours and minutes
def convert_time(minutes):
    hours = minutes // 60  # Get the number of full hours
    remaining_minutes = minutes % 60  # Get the remaining minutes
    return hours, remaining_minutes

# Taking user input
minutes = int(input("Enter the time in minutes: "))

# Convert time to hours and minutes
hours, remaining_minutes = convert_time(minutes)

# Display the result
print(f"{minutes} minutes is {hours} hour(s) and {remaining_minutes} minute(s).")

Enter the time in minutes: 190
190 minutes is 3 hour(s) and 10 minute(s).

###Write a Python program that inputs the cost of an item and the number of items and displays the total cost.

In [54]:
# Function to calculate total cost
def calculate_total_cost(cost_per_item, number_of_items):
    total_cost = cost_per_item * number_of_items
    return total_cost

# Taking user input
cost_per_item = float(input("Enter the cost of one item: "))
number_of_items = int(input("Enter the number of items: "))

# Calculate total cost
total_cost = calculate_total_cost(cost_per_item, number_of_items)

# Display the result
print(f"The total cost for {number_of_items} items is: {total_cost}")

Enter the cost of one item: 10
Enter the number of items: 2
The total cost for 2 items is: 20.0

###Write a Python program that takes an amount in dollars and converts it to Indian rupees

In [55]:
# Function to convert dollars to rupees
def convert_to_inr(dollars, conversion_rate):
    inr = dollars * conversion_rate
    return inr

# Taking user input
dollars = float(input("Enter the amount in dollars: "))

# Define the conversion rate (example rate)
conversion_rate = 83.00  # 1 USD = 83 INR (this rate can change, check the current rate)

# Convert dollars to Indian Rupees
inr = convert_to_inr(dollars, conversion_rate)

# Display the result
print(f"{dollars} dollars is equal to {inr} Indian Rupees.")

Enter the amount in dollars: 10
10.0 dollars is equal to 830.0 Indian Rupees.

###Write a Python program to reverse a three-digit number.

In [56]:
# Input: a three-digit number
number = int(input("Enter a three-digit number: "))

# Initialize the reversed number
reversed_number = 0

# Loop to reverse the number
while number > 0:
    # Get the last digit
    digit = number % 10

    # Add the digit to the reversed number
    reversed_number = reversed_number * 10 + digit

    # Remove the last digit from the number
    number = number // 10

# Output: the reversed number
print("The reversed number is:", reversed_number)

Enter a three-digit number: 345
The reversed number is: 543

Without Loop

In [57]:
# Input: a three-digit number
number = int(input("Enter a three-digit number: "))

# Reverse the number
reversed_number = (number % 10) * 100 + (number // 10 % 10) * 10 + (number // 100)

# Output: the reversed number
print("The reversed number is:", reversed_number)

Enter a three-digit number: 345
The reversed number is: 543

With String

In [58]:
  # Input: a three-digit number
number = input("Enter a three-digit number: ")

# Reverse the number using string slicing
reversed_number = number[::-1]

# Output: the reversed number
print("The reversed number is:", reversed_number)

Enter a three-digit number: 345
The reversed number is: 543

###You are given the task of calculating the electricity bill of a house. Each house has the following components: fan, light, washing machine, and computer. Each fan consumes 1 unit per day, and each light consumes 0.5 units per day, the washing machine consumes 2 units per day and each computer consumes 3 units per day. Let the cost of 1 unit be 50 rupees. Input the number of fans, lights, washing machines, and computers for a particular house and find the total electricity bill for that house for 2 months. Assume a 30-day month.

In [61]:
# Input: number of fans, lights, washing machines, and computers
fans = int(input("Enter the number of fans: "))
lights = int(input("Enter the number of lights: "))
washing_machines = int(input("Enter the number of washing machines: "))
computers = int(input("Enter the number of computers: "))

# Consumption details per day
fan_consumption = 1        # Each fan consumes 1 unit per day
light_consumption = 0.5    # Each light consumes 0.5 units per day
washing_machine_consumption = 2  # Each washing machine consumes 2 units per day
computer_consumption = 3   # Each computer consumes 3 units per day

# Cost of 1 unit
unit_cost = 8

# Calculate total daily consumption
total_consumption_per_day = (fans * fan_consumption) + (lights * light_consumption) + (washing_machines * washing_machine_consumption) + (computers * computer_consumption)

# Calculate total consumption for 2 months (60 days)
total_consumption_2_months = total_consumption_per_day * 60
print(total_consumption_2_months)

# Calculate the total bill
total_bill = total_consumption_2_months * unit_cost

# Output: the total electricity bill
print("The total electricity bill for 2 months is:", total_bill, "rupees")

Enter the number of fans: 3
Enter the number of lights: 4
Enter the number of washing machines: 1
Enter the number of computers: 1
600.0
The total electricity bill for 2 months is: 4800.0 rupees